<tr>
  <td>
    <div class="text-xl font-bold mt-[70px]">Past Proposals</div>
    <div class="text-2xs mb-[20px]">
      These are proposals that ended in the last 24 hours. You might want to
      check them out.
    </div>
  </td>
</tr>

<tr>
  <td>
    <div class="{{pastProposalsVisibility}}">
      {{#pastProposals}}
      <table
        class="w-full mt-3"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
      >
        <thead>
          <div
            class="w-[0%] w-[1%] w-[2%] w-[3%] w-[4%] w-[5%] w-[6%] w-[7%] w-[8%] w-[9%] w-[10%] w-[10%] w-[11%] w-[12%] w-[13%] w-[14%] w-[15%] w-[16%] w-[17%] w-[18%] w-[19%] w-[20%] w-[21%] w-[22%] w-[23%] w-[24%] w-[25%] w-[26%] w-[27%] w-[28%] w-[29%] w-[30%] w-[31%] w-[32%] w-[33%] w-[34%] w-[35%] w-[36%] w-[37%] w-[38%] w-[39%] w-[40%] w-[41%] w-[42%] w-[43%] w-[44%] w-[45%] w-[46%] w-[47%] w-[48%] w-[49%] w-[50%] w-[51%] w-[52%] w-[53%] w-[54%] w-[55%] w-[56%] w-[57%] w-[58%] w-[59%] w-[60%] w-[61%] w-[62%] w-[63%] w-[64%] w-[65%] w-[66%] w-[67%] w-[68%] w-[69%] w-[70%] w-[71%] w-[72%] w-[73%] w-[74%] w-[75%] w-[76%] w-[77%] w-[78%] w-[79%] w-[80%] w-[81%] w-[82%] w-[83%] w-[84%] w-[85%] w-[86%] w-[87%] w-[88%] w-[89%] w-[90%] w-[91%] w-[92%] w-[93%] w-[94%] w-[95%] w-[96%] w-[97%] w-[98%] w-[99%] w-[100%]"
          />
          <tr>
            <th class="w-1/12 py-4">DAO</th>
            <th class="w-6/12 py-4">Proposal</th>
            <th class="w-3/12 py-4">Ended on</th>
            <th class="w-2/12 py-4">Vote Status</th>
          </tr>

          <tr>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
          </tr>
        </thead>
        <tbody>
          {{#each . }}
          <tr>
            <td valign="middle" align="center">
              <div class="max-h-[36px]">
                <img class="w-12 h-12" src="{{daoLogoUrl}}" alt="DAO Logo" />
              </div>
              <div class="ml-[48px]">
                <img
                  class="min-w-4 min-h-4"
                  src="{{chainLogoUrl}}"
                  alt="Chain Icon"
                />
              </div>
            </td>
            <td class="py-2 px-2" valign="middle">
              <a
                class="text-15px xs-text-12px align-middle"
                href="{{proposalUrl}}"
                >{{proposalName}}</a
              >
            </td>
            <td class="py-2" valign="middle" align="center">
              <!-- Hidden result -->
              <div class="{{isHiddenResult}}">
                <table
                  class="w-full mb-1"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                >
                  <tr>
                    <th align="bottom" class="w-2/12 inline-block h-[24px]">
                      <div class="w-6 h-6 result-icon-container text-center">
                        <img
                          style="
                            height: 22px;
                            width: 22px;
                            vertical-align: middle;
                          "
                          src="https://senatelabs.xyz/assets/Icon/hidden.png"
                        />
                      </div>
                    </th>

                    <th class="w-10/12 inline-block text-left align-middle">
                      <p class="pl-2">Hidden Results</p>
                    </th>
                  </tr>
                </table>

                <div
                  class="bg-slate-200 text-white justify-start mb-1"
                  align="left"
                >
                  <p class="p-1 text-12px bg-black w-full whitespace-nowrap">
                    ??
                  </p>
                </div>
              </div>

              <!-- Maker Executive Result-->
              <div class="{{isMakerResult}}">
                <table class="w-full mb-1" cellspacing="0" cellpadding="0">
                  <tr>
                    <th class="w-2/12 inline-block text-left h-[24px]">
                      <img src="{{makerResult.checkboxImgUrl}}" />
                    </th>

                    <th class="w-10/12 inline-block text-left align-middle">
                      <p class="pl-2">{{makerResult.resultText}}</p>
                    </th>
                  </tr>
                </table>
                <div class="justify-start mb-1 bg-slate-200" align="left">
                  <p class="p-1 text-12px">
                    with {{makerResult.mkrSupport}} MKR
                  </p>
                </div>
              </div>

              <!-- Generic Result -->
              <div class="{{isNormalResult}}">
                <table
                  class="w-full mb-1"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                >
                  <tr>
                    <th
                      align="bottom"
                      class="w-2/12 inline-block text-left h-[24px]"
                    >
                      <img src="{{result.checkboxUrl}}" />
                    </th>

                    <th class="w-10/12 inline-block text-left align-middle">
                      <p class="pl-2">{{result.name}}</p>
                    </th>
                  </tr>
                </table>

                <div
                  class="bg-slate-200 text-white justify-start mb-1"
                  align="left"
                >
                  <p
                    class="p-1 text-[12px] bg-black whitespace-nowrap w-[{{result.percentage}}%]"
                  >
                    {{result.percentage}}%
                  </p>
                </div>
              </div>

              <p class="text-[11px] xs-text-[9px]" align="left">
                {{endDateString}} at {{endHoursUTC}}:{{endMinutesUTC}} UTC
              </p>
            </td>
            <td class="py-2" valign="middle" align="center">
              <img class="mb-1" src="{{votingStatusIconUrl}}" alt="" />
              <p class="text-[11px] xs-text-[9px] font-bold">
                {{votingStatus}}
              </p>
            </td>
          </tr>

          <tr>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/pastProposals}}
    </div>
  </td>
</tr>

<tr>
  <td align="center">
    <div
      class="{{noEndedProposalsVisibility}} bg-slate-300 font-bold text-black h-[100px] flex flex-col justify-center"
    >
      No proposals ended in the last 24 hours
    </div>
  </td>
</tr>
