<tr>
  <td>
    <div class="text-xl font-bold mt-[25px]">Proposals Ending Soon</div>
    <div class="text-2xs mb-[20px]">
      The voting on these proposals is going to end in the next 72 hours. You
      might want to act on them soon.
    </div>
  </td>
</tr>

<tr>
  <td>
    <div class="{{endingSoonProposalsVisibility}}">
      {{#endingSoonProposals}}
      <table
        class="w-full mt-3"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
      >
        <thead>
          <tr>
            <th class="w-1-12 py-4">DAO</th>
            <th class="w-6-12 py-4">Proposal</th>
            <th class="w-3-12 py-4">Ending In</th>
            <th class="w-2-12 py-4">Vote Status</th>
          </tr>

          <tr>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
          </tr>
        </thead>
        <tbody>
          {{#each . }}
          <tr>
            <td valign="middle" align="center">
              <div class="max-h-[36px]">
                <img class="w-12 h-12" src="{{daoLogoUrl}}" alt="DAO Logo" />
              </div>
              <div class="ml-[48px]">
                <img
                  class="min-w-4 min-h-4"
                  src="{{chainLogoUrl}}"
                  alt="Chain Icon"
                />
              </div>
            </td>
            <td class="py-2 px-2" valign="middle">
              <a
                class="text-15px xs-text-12px align-middle"
                href="{{proposalUrl}}"
                >{{proposalName}}</a
              >
            </td>
            <td class="py-2" align="center" valign="middle">
              <img
                src="{{countdownUrl}}"
                border="0"
                alt="countdown_unavailable"
              />
              <p class="text-11px xs-text-9px">
                on {{endDateString}} at {{endHoursUTC}}:{{endMinutesUTC}} UTC
              </p>
            </td>
            <td class="py-2" align="center" valign="middle">
              <img class="mb-1" src="{{votingStatusIconUrl}}" alt="" />
              <p class="text-11px xs-text-9px font-bold">{{votingStatus}}</p>
            </td>
          </tr>

          <tr>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
            <td>
              <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/endingSoonProposals}}
    </div>
  </td>
</tr>

<tr>
  <td align="center">
    <div
      class="{{noEndingSoonProposalsVisibility}} bg-slate-300 font-bold text-black h-[100px] flex flex-col justify-center"
    >
      No ending soon proposals today
    </div>
  </td>
</tr>
