@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply dark:bg-black bg-black;
    }
}

@font-face {
    font-family: 'Matter';
    font-weight: 300;
    src: url('/assets/Fonts_for_Senate/MatterTRIAL-Light.woff') format('woff');
}
@font-face {
    font-family: 'Matter';
    font-weight: 400;
    src: url('/assets/Fonts_for_Senate/MatterTRIAL-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Matter';
    font-weight: 500;

    src: url('/assets/Fonts_for_Senate/MatterTRIAL-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Matter';
    font-weight: 600;
    src: url('/assets/Fonts_for_Senate/MatterTRIAL-SemiBold.woff')
        format('woff');
}

@font-face {
    font-family: 'Matter';
    font-weight: 700;
    src: url('/assets/Fonts_for_Senate/MatterTRIAL-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Matter';
    font-weight: 900;
    src: url('/assets/Fonts_for_Senate/MatterTRIAL-Heavy.woff') format('woff');
}
