<tr>
  <td>
    <table align="center" class="mx-auto w-[720px] font-sans sm:w-full">
      <tr>
        <td align="left" class="content-cell py-[45px] text-base">
          <table class="w-[600px]">
            <tr>
              <td class="w-[64px] pr-2">
                <img
                  width="64"
                  class="bg-black mt-1"
                  src="https://senatelabs.xyz/assets/Senate_Logo/64/White.png"
                  alt="SenateLogo"
                />
              </td>
              <td>
                <div class="text-[36px] font-bold">Senate Daily Bulletin</div>
                <div class="text-[13px] text-[#555555]">{{todaysDate}}</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
